:root {
--international-orange-engineering: #b80c09ff;
--seal-brown: #6b2b06ff;
--platinum: #e5e7e6ff;
--gray-x-11-gray: #b7b5b3ff;
--black-chocolate-light: rgb(80, 80, 80);
--black-chocolate: #141301ff;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: 15% 1fr;
}

/* navbar layout */
.navbar {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#header {
  margin-bottom: 30px;
}

/* navbar link styles */
.navbar {
  background-color: var(--black-chocolate);
  color: var(--platinum);
}

.navbar a {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 10px 0px;
  padding-left: 20px;

  text-decoration: none;
  color: var(--platinum);
}

.navbar a:hover {
  background-color: var(--black-chocolate-light);
}

/* main layout */

.main {
  display: grid;
  grid-template-areas:
  "top top"
  "main right";

  grid-template-rows: 20% 1fr;
  grid-template-columns: 1fr 20%;
}

.top-container {
  background-color: chocolate;
  grid-area: top;
}

.projects-container {
  background-color: aqua;
  grid-area: main;
}

.right-container {
  background-color: lime;
  grid-area: right;

  display: flex;
  flex-direction: column;
}

.right-container > div {
  flex-grow: 1;
}

.announcements-container {
  background-color: darkgreen;
}

.trending-container {
  background-color: lightpink;
}

/* projects section */
.projects-container {
  padding: 0 20px;
}

.projects-container > :first-child {
  font-size: large;
  margin: 20px 0;
}

.project-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* card styles */
.card {
  --size: 6px;

  background-color: white;
  border-radius: var(--size);
  border-left: var(--size) solid var(--international-orange-engineering);
}

.card .title{
  font-weight: bold;
  text-transform: capitalize;
}

/* card layout */
.card{
  display: grid;
  grid-template-areas:
    "title"
    "text"
    "buttons";
    grid-template-rows: 2em 8em 2em;

  padding: 20px 10px;
}

.card .title {
  grid-area: title;
  margin-bottom: 5px;
}

.card .text {
  grid-area: text;
  margin-bottom: 10px;
}

.card .buttons {
  grid-area: buttons;
  align-self: center;
  justify-self: end;
}

.card .buttons > span {
  margin: 0 10px;
}
